In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('./4th_data.csv')

In [4]:
df

,caseID,taskID,originator,eventtype,timestamp,contact,RepairType,objectKey,RepairInternally,EstimatedRepairTime,RepairCode,RepairOK
0,1,FirstContact,Dian,complete,1970-01-02 8:08,Phone,NaN,NaN,NaN,NaN,NaN,NaN
1,1,MakeTicket,Dian,start,1970-01-02 8:08,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,MakeTicket,Dian,complete,1970-01-02 8:11,NaN,E,1340.0,NaN,NaN,NaN,NaN
3,1,ArrangeSurvey,Dian,start,1970-01-02 8:11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,ArrangeSurvey,Dian,complete,1970-01-02 8:16,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
13257,1000,InternRepair,John,complete,1970-01-19 18:34,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13258,1000,RepairReady,System,complete,1970-01-19 18:34,NaN,NaN,NaN,NaN,NaN,NaN,True
13259,1000,SendTicketToFinAdmin,System,complete,1970-01-20 1:11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13260,1000,ReadyInformClient,System,complete,1970-01-20 2:25,NaN,NaN,NaN,NaN,NaN,NaN,True
13261,1000,TicketReady,System,complete,1970-01-20 2:25,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
print(len(df['objectKey'].unique()))

891

In [6]:
df[df['taskID']=='InformClientWrongPlace']['caseID']

72         6
74         7
148       13
519       40
809       61
        ...
11492    871
11650    883
12132    918
12454    942
12785    966
Name: caseID, Length: 73, dtype: int64

In [7]:
df[df['RepairOK']==False]['caseID']

Series([], Name: caseID, dtype: int64)

In [8]:
df[df['RepairInternally']==False]['RepairCode'].unique()

array([4.])

In [10]:
df['RepairType'].unique()

array([nan, 'E', 'P', 'B'], dtype=object)

In [11]:
df['RepairCode'].unique()

array([nan,  1.,  2.,  4.,  3.])