In [1]:
import pandas as pd

In [2]:
# 데이터 읽어오기
df = pd.read_csv('./train_mdf.csv',header=None)

In [3]:
df

,0,1,2,3,4,5,6,7,8,9,...,71,72,73,74,75,76,77,78,79,80
0,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
1,1,60,RL,65,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,2,20,RL,80,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
3,3,60,RL,68,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
4,4,70,RL,60,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1456,1456,60,RL,62,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1457,1457,20,RL,85,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1458,1458,70,RL,66,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1459,1459,20,RL,68,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1460,1460,20,RL,75,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [7]:
# 컬럼명 리스트업
columns_name = df.iloc[0]
type(columns_name)
columns_name

0                Id
1        MSSubClass
2          MSZoning
3       LotFrontage
4           LotArea
          ...
76           MoSold
77           YrSold
78         SaleType
79    SaleCondition
80        SalePrice
Name: 0, Length: 81, dtype: object

In [8]:
# 데이터 정보확인
df.columns = list(columns_name)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1461 entries, 0 to 1460
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1461 non-null   object
 1   MSSubClass     1461 non-null   object
 2   MSZoning       1461 non-null   object
 3   LotFrontage    1202 non-null   object
 4   LotArea        1461 non-null   object
 5   Street         1461 non-null   object
 6   Alley          92 non-null     object
 7   LotShape       1461 non-null   object
 8   LandContour    1461 non-null   object
 9   Utilities      1461 non-null   object
 10  LotConfig      1461 non-null   object
 11  LandSlope      1461 non-null   object
 12  Neighborhood   1461 non-null   object
 13  Condition1     1461 non-null   object
 14  Condition2     1461 non-null   object
 15  BldgType       1461 non-null   object
 16  HouseStyle     1461 non-null   object
 17  OverallQual    1461 non-null   object
 18  OverallCond    1461 non-null   object
 19  YearBuilt      1461 non-null   object
 20  YearRemodAdd   1461 non-null   object
 21  RoofStyle      1461 non-null   object
 22  RoofMatl       1461 non-null   object
 23  Exterior1st    1461 non-null   object
 24  Exterior2nd    1461 non-null   object
 25  MasVnrType     1453 non-null   object
 26  MasVnrArea     1453 non-null   object
 27  ExterQual      1461 non-null   object
 28  ExterCond      1461 non-null   object
 29  Foundation     1461 non-null   object
 30  BsmtQual       1424 non-null   object
 31  BsmtCond       1424 non-null   object
 32  BsmtExposure   1423 non-null   object
 33  BsmtFinType1   1424 non-null   object
 34  BsmtFinSF1     1461 non-null   object
 35  BsmtFinType2   1423 non-null   object
 36  BsmtFinSF2     1461 non-null   object
 37  BsmtUnfSF      1461 non-null   object
 38  TotalBsmtSF    1461 non-null   object
 39  Heating        1461 non-null   object
 40  HeatingQC      1461 non-null   object
 41  CentralAir     1461 non-null   object
 42  Electrical     1460 non-null   object
 43  1stFlrSF       1461 non-null   object
 44  2ndFlrSF       1461 non-null   object
 45  LowQualFinSF   1461 non-null   object
 46  GrLivArea      1461 non-null   object
 47  BsmtFullBath   1461 non-null   object
 48  BsmtHalfBath   1461 non-null   object
 49  FullBath       1461 non-null   object
 50  HalfBath       1461 non-null   object
 51  BedroomAbvGr   1461 non-null   object
 52  KitchenAbvGr   1461 non-null   object
 53  KitchenQual    1461 non-null   object
 54  TotRmsAbvGrd   1461 non-null   object
 55  Functional     1461 non-null   object
 56  Fireplaces     1461 non-null   object
 57  FireplaceQu    771 non-null    object
 58  GarageType     1380 non-null   object
 59  GarageYrBlt    1380 non-null   object
 60  GarageFinish   1380 non-null   object
 61  GarageCars     1461 non-null   object
 62  GarageArea     1461 non-null   object
 63  GarageQual     1380 non-null   object
 64  GarageCond     1380 non-null   object
 65  PavedDrive     1461 non-null   object
 66  WoodDeckSF     1461 non-null   object
 67  OpenPorchSF    1461 non-null   object
 68  EnclosedPorch  1461 non-null   object
 69  3SsnPorch      1461 non-null   object
 70  ScreenPorch    1461 non-null   object
 71  PoolArea       1461 non-null   object
 72  PoolQC         8 non-null      object
 73  Fence          282 non-null    object
 74  MiscFeature    55 non-null     object
 75  MiscVal        1461 non-null   object
 76  MoSold         1461 non-null   object
 77  YrSold         1461 non-null   object
 78  SaleType       1461 non-null   object
 79  SaleCondition  1461 non-null   object
 80  SalePrice      1461 non-null   object
dtypes: object(81)
memory usage: 924.7+ KB

In [10]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
1,1,60,RL,65,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,2,20,RL,80,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
3,3,60,RL,68,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
4,4,70,RL,60,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000

In [11]:
df.tail()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
1456,1456,60,RL,62,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1457,1457,20,RL,85,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1458,1458,70,RL,66,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1459,1459,20,RL,68,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1460,1460,20,RL,75,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500